<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxyup.SaveMoney.mapper.GetBookMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
    <select id="getBook" resultType="map">
        select * from book
    </select>

    <select id="getBookById" resultType="com.lxyup.SaveMoney.pojo.Book">
        select * from book b where b.bookid = #{bookid}
    </select>

    <select id="getAllCommodity" resultType="map">
        select * from commoditys
    </select>

    <select id="getSearch" resultType="map">
        select * from commoditys c where c.commodityname like #{arg0}
    </select>

    <select id="getCommoditiesId" resultType="java.lang.Integer">
        select s.commodityid from shoppingcart s where s.subscriberid = #{arg0}
    </select>

    <select id="getShoppingCartById" resultType="com.lxyup.SaveMoney.pojo.ShoppingCart">
        select * from shoppingcart s where s.subscriberid = #{arg0}
    </select>

    <select id="getCommodityById" resultType="com.lxyup.SaveMoney.pojo.Commodity">
        select * from commoditys c where c.commodityid = #{arg0}
    </select>
</mapper>
